# Entornos virtuales (el tuyo se llama .venv)
.venv/
venv/
env/

# Configuraciones de PyCharm / IntelliJ
.idea/
*.iws

# Variables de entorno (¡MUY IMPORTANTE!)
.env
src/.env.local

# Archivos temporales de Python
**/__pycache__/
*.py[cod]
*$py.class

# Datos y logs
*.log
data/